.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark{
  background-color: #141D2F !important;
  color: #FFFFFF !important;
}

.lightButton{
  display: flex;
  gap: 16px;
  border: none;
  background-color: #F6F8FF;
  color: #4B6A9B;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.lightButton:hover {
  color: #222731; /* Text color change on hover */
}

.lightButton:hover svg path {
  fill: #222731;
}

.lightButton svg path {
  width: 20px;
  height: 20px;
}

.darkButton{
  display: flex;
  gap: 16px;
  border: none;
  background-color: #141D2F;
  color: #fff;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.darkButton svg path {
  width: 20px;
  height: 20px;
}

.darkButton:hover{
  color: #90A4D4 !important;
}

.darkButton:hover svg path {
  fill: #90A4D4;
}