.stats{
    border-radius: 10px;
    padding: 18px 15px;
    background: #F6F8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
}

.darkStats{
    background-color: #141D2F;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.details p{
    color: #4B6A9B;
    font-size: 11px;
}

.details h6{
    color: #2B3442;
    font-size: 16px;
}

.darkStats .details p,
.darkStats .details h6 {
    color: #fff; /* Change text color to white */
}

@media screen and (min-width: 768px){
    .details{
        margin-bottom: 30px;
    }
    .details p{
        font-size: 13px;
    }
    .details h6{
        font-size: 22px;
    }
}